
.logo { 
	text-align: right 
}


/************************************************************/
/* COMMON TABLE */

TABLE { background-color: white; }
TD.alt_left, TD.alt_middle, TD.alt_right { background-color: rgb(215, 197, 163); }

TR.top { height: 32px; }
TR.bottom { height: 32px; }
TD.alt_left, TD.left { width: 32px; }
TD.alt_right, TD.right { width: 32px; }

TR.top TD.left { background: url(nw.gif) no-repeat; }
TR.top TD.middle { background: url(n.gif) repeat-x; }
TR.top TD.right { background: url(ne.gif) no-repeat }
TR.middle TD.left { background: url(w.gif) repeat-y; }
TR.middle TD.right { background: url(e.gif) repeat-y; }
TR.bottom TD.left { background: url(sw.gif) no-repeat; }
TR.bottom TD.middle { background: url(s.gif) repeat-x; }
TR.bottom TD.right { background: url(se.gif) no-repeat; }

TR.top TD.alt_left { background: url(nw2.gif) no-repeat; }
TR.top TD.alt_middle { background: url(h2.gif) repeat-x; }
TR.top TD.alt_right { background: url(ne2.gif) no-repeat; }
TR.middle TD.alt_left { background: url(w2.gif) no-repeat; }
TR.middle TD.alt_right { background: url(e2.gif) no-repeat; }

/************************************************************/
/* TITLE */

TABLE.title { text-align: center; vertical-align: middle; }

/************************************************************/
/* TABS */

TABLE.tabs { text-align: center; vertical-align: middle; } 

/************************************************************/
/* CONTENT */

TABLE.content { background-color: white; width: 100%; }
TABLE.content TR.top TD.left { background: url(w.gif) no-repeat; }
TABLE.content TR.top TD.middle { background-image: none; }
